.btnDetalle {
    height: 6vh;
    width: 12vw;
    margin: 0.5rem;
    padding: 10px;
    font-size: 19px;
    font-family: $webfont;
    border-style: solid ;
    border-color: $back;
    border-width: 2px;
    outline: 0;
    background: none;
    color: $text;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;

    &:hover {
        background: $back;
        color: $light;
    }
}

.btnCounter{
    height: 4vh;
    width: 2vw;
    margin: 0.5rem;
    padding: 5px;
    font-size: 19px;
    font-family: $webfont;
    border-color: $back;
    border-style:none;
    outline: 0;
    background: $back;
    color: $light;
    border-radius: 100%;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnAdd {
    height: 5vh;
    width: 10vw;
    margin: 0.5rem;
    padding: 10px;
    font-size: 19px;
    font-family: $webfont;
    border-color: $back;
    border-style:outset;
    outline: 0;
    background: $back;
    color: $light;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    
    &:hover {
        border-style: none;
    }
}

.btnEnviar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin: 0.5rem;
    padding: 10px;
    font-size: 19px;
    font-family: $webfont;
    border-color: $light;
    outline: 0;
    background: $back;
    color: $light;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnFinish{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 0.5rem;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 600;
    font-family: $webfont;
    border-style: none;
    outline: 0;
    background: $back;
    color: $light;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnContinue{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 0.5rem;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    font-family: $webfont;
    border-style: none ;
    border-color: $back;
    border-width: 2px;
    outline: 0;
    background: $light;
    color: $text;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnRemove{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    padding: 5px;
    background: none;
    border: none;
    color: $back;
    font-size: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnDeleteAll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    margin: 0.5rem;
    padding: 10px;
    font-size: 19px;
    font-family: $webfont;
    border-color: $light;
    outline: 0;
    background: $back;
    color: $light;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnEmpty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 0.5rem;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    font-family: $webfont;
    border-style: none;
    background: $backcards;
    color: $text;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btnBack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
    margin: 3rem;
    img{
        height: 15vh;
        &:hover{
            transition: transform 0.5s ease;
            transform: rotate(360deg)
        }
    }
    h5{
        color: $tittles;
        font-size: 1.5rem;
        &:hover{
            text-decoration: underline;
    }
    }
}