.shop {
    color: $light;
    display: flex;
    height: 100%;
    margin: 5rem;
    justify-content: center;
    

    .storeIcon {
        display: flex;
        height: 80%;
        padding: 1rem;
        font-size: 3.5rem;
        color: $light;
        justify-content: center;
        align-items: center;
        text-decoration: inherit;
        &:hover {
            color: $tittles;
        }
    }

    #cantidadCarrito {
        display: flex;
        align-items: center;
        justify-content: end;
        height: 90%;
        color: $light;
        font-size: 1.5rem;
        text-decoration: none;

    }
}