.navbar {
    background-color: $back;
    display: flex;
    position: sticky;
    top: 0px;
    align-items: center;
    flex-direction: row;
    height: 25vh;
    width: 100%;

    

    .logospace {
        align-items: center;
        img{
            height: 30vh;
        }
    }

    nav {
        width: 97vw;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-evenly;
        }

        .isActive{
            list-style-type: none;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: center;
            text-decoration: none;
            align-content: space-between;
            text-decoration: none;
            color: $tittles;
        }
        .isNotActive{
            list-style-type: none;
            font-weight: 400;
            font-size: 1.5rem;
            text-align: center;
            text-decoration: none;
            align-content: space-between;
            text-decoration: none;
            color: $light;
            
            &:hover {
                color: $tittles;
            }
        }

    }

}

/*menu hamburguesa*/
#menu,
#menuCheck {
    display: none;
}