h1{
    font-family: $italic;
    width: 100%;
    margin: 10vh 0vw 1vh 0vw;
    color: $tittles;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-family: $webfont;
    width: 100%;
    margin-top: 5vh;
    color: $text;
    display: flex;
    justify-content: center;
}
h3{
    font-family: $webfont;
    color: $text;
    font-size: 1.3rem;
}

.notFound{
    background-color: $back;
    margin: 5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin: 3rem;
        color: $jazzy;
        font-size: 8rem;
    }
    h3{
        margin: 3rem;
        font-size: 4rem;
    }
}