@charset "UTF-8";
/*Color fondo*/
/*color texto de la nav*/
/*etiquetas h1, h2 y texto de cards y footer*/
/*textos de la web*/
/*boton enviar y menu desplegable*/
/*llamativo - usado en los h3, boton de enviar y línea separación*/
/*bordes de formulario*/
/*footer background-color*/
/*cards background-color*/
/*menu background-color*/
/*hover boton enviar*/
/*icono tienda*/
/*tipos de fuentes de la web*/
/*fuente general de la web*/
/*fuente cursiva para titulos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Estilos componentes */
.cardsContainer {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#root {
  background-repeat: repeat;
  background-image: url("../../../public/fondo4.png");
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 25vh;
  width: 98.5vw;
}
.navbar .logospace {
  align-items: center;
}
.navbar .logospace img {
  height: 30vh;
}
.navbar nav {
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  align-items: center;
}
.navbar ul li {
  list-style-type: none;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  align-content: space-between;
}
.navbar ul li a {
  text-decoration: none;
  color: #c7ddf0;
}
.navbar ul li a:hover {
  color: #6CACE4;
}

.shop {
  color: #c7ddf0;
  display: flex;
  height: 100%;
  margin: 5rem;
  justify-content: center;
}
.shop .storeIcon {
  display: flex;
  height: 80%;
  padding: 1rem;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
}
.shop .storeIcon:hover {
  color: #6CACE4;
}
.shop #cantidadCarrito {
  display: flex;
  height: 90%;
  color: #c7ddf0;
  font-size: 2rem;
  align-items: center;
}

.cards {
  background-color: whitesmoke;
  width: 18vw;
  height: 45vh;
  margin: 3rem;
  padding: 0.7rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cards .card-pic {
  width: 14vw;
  border-radius: 10px;
}

.btnDetalle {
  width: 10vw;
  padding: 10px;
  font-size: 19px;
  font-family: "Inter";
  border: none;
  outline: 0;
  background: #2C5082;
  color: #c7ddf0;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.btnDetalle:hover {
  background: #5DD2FD;
} /* Estilos de titulos y textos */
h1 {
  font-family: "Shrikhand", cursive;
  width: 100%;
  margin: 10vh 0vw 1vh 0vw;
  color: #6CACE4;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Inter";
  width: 100%;
  margin-top: 5vh;
  color: #052541;
  display: flex;
  justify-content: center;
}

h3 {
  font-family: "Inter";
  color: #052541;
  font-size: 1.3rem;
}

label {
  font-family: "Inter";
  color: #052541;
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */