@charset "UTF-8";
/*Color fondo*/
/*etiquetas h1, h2 y texto de cards y footer*/
/*textos de la web*/
/*boton enviar y menu desplegable*/
/*llamativo - usado en los h3, boton de enviar y línea separación*/
/*bordes de formulario*/
/*cards background-color*/
/*hover boton*/
/*tipos de fuentes de la web*/
/*fuente general de la web*/
/*fuente cursiva para titulos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Estilos componentes */
.cardsContainer {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.counter .bodyCounter {
  background-color: none;
  border-radius: 10px;
}
.counter div label {
  color: #052541;
}

.detailCont {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  min-height: 150vh;
}

#root {
  background-image: url("/public/fondo4.png");
  background-repeat: repeat;
  width: 100%;
  height: auto;
  min-height: 100vh;
}

.navbar {
  background-color: #2C5082;
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
  flex-direction: row;
  height: 25vh;
  width: 100%;
}
.navbar .logospace {
  align-items: center;
}
.navbar .logospace img {
  height: 30vh;
}
.navbar nav {
  width: 97vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.navbar nav .isActive {
  list-style-type: none;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  align-content: space-between;
  text-decoration: none;
  color: #6CACE4;
}
.navbar nav .isNotActive {
  list-style-type: none;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  align-content: space-between;
  text-decoration: none;
  color: #c7ddf0;
}
.navbar nav .isNotActive:hover {
  color: #6CACE4;
}

.shop {
  color: #c7ddf0;
  display: flex;
  height: 100%;
  margin: 5rem;
  justify-content: center;
}
.shop .storeIcon {
  display: flex;
  height: 80%;
  padding: 1rem;
  font-size: 3.5rem;
  color: #c7ddf0;
  justify-content: center;
  align-items: center;
  text-decoration: inherit;
}
.shop .storeIcon:hover {
  color: #6CACE4;
}
.shop #cantidadCarrito {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 90%;
  color: #c7ddf0;
  font-size: 1.5rem;
  text-decoration: none;
}

.cards {
  background-color: whitesmoke;
  width: 18vw;
  height: 45vh;
  margin: 3rem;
  padding: 0.7rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cards .cardPic {
  width: 85%;
  border-radius: 10px;
}
.cards .card-footer {
  display: flex;
}

.cardsDetail {
  background-color: rgba(108, 172, 228, 0.5960784314);
  width: 50vw;
  height: 40vh;
  margin: 3vh 25vw 3vh 25vw;
  padding: 0.7rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardsDetail .cardBody {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cardsDetail .cardBody .imgDet {
  margin-top: 6vh;
  width: 50%;
}
.cardsDetail .cardBody .imgDet .picDetail {
  padding: 0.5rem;
  width: 100%;
  border-radius: 25px;
}
.cardsDetail .cardBody .infoDet {
  height: 60%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cardsDetail .cardBody .infoDet label {
  font-family: "Inter";
  color: #052541;
}
.cardsDetail .cardFooter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  align-items: end;
}

.cardCart {
  background-color: rgba(108, 172, 228, 0.5960784314);
  width: 90vw;
  height: 20vh;
  margin: 1.5rem 3rem;
  padding: 0.7rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cardCart img {
  height: 90%;
  border-radius: 10px;
}

.headerCardCart {
  background-color: rgba(108, 172, 228, 0.5960784314);
  width: 90vw;
  height: 5vh;
  margin: 0rem 3rem;
  padding: 0vh 13vw 0vh 21vw;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.headerCardCart h4 {
  color: #052541;
}

.footerCardCart {
  background-color: rgba(108, 172, 228, 0.5960784314);
  width: 90vw;
  height: 15vh;
  margin: 0.5rem 3rem 2rem;
  padding: 0vh 5vw 0vh 10vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.footerCardCart h4 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.8rem;
  width: 26rem;
  margin: 2vh 1vw 0vh 0vw;
  padding: 0vh 3vw 0vh 0vw;
  color: #052541;
}
.footerCardCart .btnsCart {
  display: flex;
  flex-direction: row;
}

.btnDetalle {
  height: 6vh;
  width: 12vw;
  margin: 0.5rem;
  padding: 10px;
  font-size: 19px;
  font-family: "Inter";
  border-style: solid;
  border-color: #2C5082;
  border-width: 2px;
  outline: 0;
  background: none;
  color: #052541;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}
.btnDetalle:hover {
  background: #2C5082;
  color: #c7ddf0;
}

.btnCounter {
  height: 4vh;
  width: 2vw;
  margin: 0.5rem;
  padding: 5px;
  font-size: 19px;
  font-family: "Inter";
  border-color: #2C5082;
  border-style: none;
  outline: 0;
  background: #2C5082;
  color: #c7ddf0;
  border-radius: 100%;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnAdd {
  height: 5vh;
  width: 10vw;
  margin: 0.5rem;
  padding: 10px;
  font-size: 19px;
  font-family: "Inter";
  border-color: #2C5082;
  border-style: outset;
  outline: 0;
  background: #2C5082;
  color: #c7ddf0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}
.btnAdd:hover {
  border-style: none;
}

.btnEnviar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  margin: 0.5rem;
  padding: 10px;
  font-size: 19px;
  font-family: "Inter";
  border-color: #c7ddf0;
  outline: 0;
  background: #2C5082;
  color: #c7ddf0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnFinish {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  margin: 0.5rem;
  padding: 10px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  font-family: "Inter";
  border-style: none;
  outline: 0;
  background: #2C5082;
  color: #c7ddf0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnContinue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  margin: 0.5rem;
  padding: 10px;
  text-decoration: none;
  font-size: 19px;
  font-family: "Inter";
  border-style: none;
  border-color: #2C5082;
  border-width: 2px;
  outline: 0;
  background: #c7ddf0;
  color: #052541;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnRemove {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  padding: 5px;
  background: none;
  border: none;
  color: #2C5082;
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnDeleteAll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  margin: 0.5rem;
  padding: 10px;
  font-size: 19px;
  font-family: "Inter";
  border-color: #c7ddf0;
  outline: 0;
  background: #2C5082;
  color: #c7ddf0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vw;
  margin: 0.5rem;
  padding: 10px;
  text-decoration: none;
  font-size: 19px;
  font-family: "Inter";
  border-style: none;
  background: rgba(108, 172, 228, 0.5960784314);
  color: #052541;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease;
}

.btnBack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: inherit;
  margin: 3rem;
}
.btnBack img {
  height: 15vh;
}
.btnBack img:hover {
  transition: transform 0.5s ease;
  transform: rotate(360deg);
}
.btnBack h5 {
  color: #6CACE4;
  font-size: 1.5rem;
}
.btnBack h5:hover {
  text-decoration: underline;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos Formulario */
.formFinal {
  background-color: rgba(108, 172, 228, 0.5960784314);
  display: flex;
  align-items: center;
  margin: 3vh 25vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  border: none;
  border-radius: 15px;
}
.formFinal ::-moz-placeholder {
  color: #c7ddf0;
}
.formFinal ::placeholder {
  color: #c7ddf0;
}
.formFinal h2 {
  margin: 0vh 0vw 3vh 0vw;
}
.formFinal .campo {
  display: flex;
  flex-direction: row;
  background: none;
  color: #052541;
  font-size: 1.2rem;
  width: 24rem;
  margin: 10px 5px 10px;
  padding: 5px;
  border: none;
  border-bottom: solid #dddddd;
}

/* Estilos de titulos y textos */
h1 {
  font-family: "Shrikhand", cursive;
  width: 100%;
  margin: 10vh 0vw 1vh 0vw;
  color: #6CACE4;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: "Inter";
  width: 100%;
  margin-top: 5vh;
  color: #052541;
  display: flex;
  justify-content: center;
}

h3 {
  font-family: "Inter";
  color: #052541;
  font-size: 1.3rem;
}

.notFound {
  background-color: #2C5082;
  margin: 5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notFound h2 {
  margin: 3rem;
  color: #fdf95d;
  font-size: 8rem;
}
.notFound h3 {
  margin: 3rem;
  font-size: 4rem;
}

.empCart {
  font-size: 4rem;
  font-weight: 200;
}

label {
  font-family: "Inter";
  color: #052541;
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */