/*Color fondo*/
$back: #2C5082;

/*etiquetas h1, h2 y texto de cards y footer*/
$tittles: #6CACE4;

/*textos de la web*/
$text: #052541;

/*boton enviar y menu desplegable*/
$light: #c7ddf0;

/*llamativo - usado en los h3, boton de enviar y línea separación*/
$jazzy: #fdf95d;
//$jazzy: #5DD2FD;

/*bordes de formulario*/
$border: #dddddd;

/*cards background-color*/
$backcards: #6cace498;

/*hover boton*/
$hover: radial-gradient(circle, rgba(253,249,93,1) 0%, rgba(255,255,255,1) 31%, rgba(108,172,228,1) 100%);

