/*Color fondo*/
$back: #2C5082;

/*color texto de la nav*/
//$navtext: #c7ddf0;

/*etiquetas h1, h2 y texto de cards y footer*/
$tittles: #6CACE4;

/*textos de la web*/
$text: #052541;

/*boton enviar y menu desplegable*/
$light: #c7ddf0;

/*llamativo - usado en los h3, boton de enviar y línea separación*/
$jazzy: #e0fd5d;
//$jazzy: #5DD2FD;

/*bordes de formulario*/
$border: #dddddd;

/*footer background-color*/
//$backfooter: rgba(203, 191, 191, 0.6117647059);

/*cards background-color*/
$backcards: #6cace498;

/*menu background-color*/
//$backmenu: rgba(184, 35, 18, 0.733);

/*hover boton enviar*/
//$hoversend: rgba(255, 99, 51, 0.5215686275);

/*icono tienda*/
//$tienda: rgba(128, 128, 128, 0.555);